*{
    box-sizing: inherit;
    font-family: "Jua", sans-serif;
}
h1,h3{
    margin-bottom: .5em;
    font-weight: 500;
}

html{
    --vh : 85vh;
}

a{
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color: black;
}

.layout_container{
    position: relative;
}
.layout{
    max-width: 1256px;
    display: block;
    margin: auto;
}
.layout_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout_main{
    flex: 1 1 auto;
    min-width: 0;
}
.myDebate{
    padding: 0 2rem;
}
.myDebate_content{
    max-width: 700px;
    margin: auto;
}
.myDebate_container{
    padding: 3rem 0;
}
.myDebate-img{
    display: inline-block;
    color: inherit;
    font-style: normal;
    text-align: center;
}
.page-title_title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.page-title_title>span, .page-title_title>h1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}
.myDebate_body_tabs{
    display: flex;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 15px;
}
.myDebate_body_tab{
    font-size: 16px;
    color: #adb5bd;
    font-weight: 500;
    margin: 0;
    padding: 0 12px 3px;
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: all .2s ease-out;
    cursor: pointer;
}
.myDebate_body_tab:hover{
    color: black;
}

.body_content_top{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: flex;
}
.body_tab_content{
    flex: auto;
    min-width: 0;
    min-height: 0;
}
.body_content{
    position: relative;
    width: 100%;
}

.content-empty{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-empty_title{
    text-align: center;
    font-size: 2rem;
    color: black;
}
.content-empty_item-primary{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}
.content-empty_item{
    text-align: center;
    font-size: 16px;
}
.content-empty_action{
    width: 10rem;
    justify-content: center;
    display: flex;
    margin: 2rem 0;
}
.debate_button{
    border: 1px solid black;
    background-color: black;
    color: #ffd200;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}